@supports (display: grid) {
  .wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100vh;
  }
  .speakers {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0 18px;
    grid-gap: 18px;
  }
}
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
html {
  font: 16px 'Roboto';
}
h1 {
  font-size: 66px;
  text-transform: uppercase;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.title__main {
  color: #fff;
}
.title__plus {
  font-size: 1.4em;
}
.item-menu__href {
  color: #000;
}
.contacts {
  background: #1f0000;
  color: #fff;
}
.contacts__content {
  font-size: 35px;
  font-weight: bold;
}
.slide {
  color: #fff;
}
.slide__title {
  font-size: 47px;
  font-weight: 100;
  letter-spacing: 0.5px;
}
.registration {
  font-weight: 100;
}
.registration__date {
  font-size: 47px;
  font-weight: 100;
  letter-spacing: 0.5px;
}
.registration__tax {
  font-style: italic;
  font-size: 14px;
  letter-spacing: -0.3px;
}
.registration__more {
  font-size: 13px;
  color: #fff;
}
.button {
  display: inline-block;
  font-size: 26px;
  padding: 0.4em 1.2em;
  -webkit-border-radius: 1em;
          border-radius: 1em;
  background: #008bff;
  letter-spacing: -0.5px;
  color: #fff;
}
.button--registration {
  text-transform: uppercase;
}
.title {
  position: relative;
}
.title__main {
  background: #00544e;
  height: 355px;
  padding: 0 36px;
  line-height: 80px;
}
.title__plus {
  position: relative;
  top: 7px;
}
.title__triangle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
.menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__item {
  font-size: 24px;
  font-weight: 300;
  margin: 71.5px 0;
  text-align: center;
  letter-spacing: -0.5px;
}
.menu__item:last-child {
  margin-bottom: 93px;
}
.contacts {
  padding: 22.5px 0;
  text-align: center;
}
.slide {
  background: -webkit-gradient(linear, left top, right top, from(rgba(119,119,119,0.6)), to(rgba(0,0,0,0.6))), url("../img/bg.jpg");
  background: -webkit-linear-gradient(left, rgba(119,119,119,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/bg.jpg");
  background: -o-linear-gradient(left, rgba(119,119,119,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/bg.jpg");
  background: linear-gradient(to right, rgba(119,119,119,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/bg.jpg");
  color: #fff;
  padding: 35px 22px 43px;
}
.slide__title {
  text-align: right;
  height: 70vh;
}
.registration {
  position: relative;
  text-align: center;
}
.registration__button {
  margin-top: 20px;
}
.registration__tax {
  margin-top: 16px;
}
.registration__more {
  display: inline-block;
  margin-top: 11px;
  border-bottom: 1px dotted #fff;
}
