html
    font 16px 'Roboto'

h1
    font-size: 66px
    text-transform: uppercase
    font-weight: bold

a
    text-decoration: none

format__text($size, $space)
    font-size: $size
    letter-spacing: $space

.title
    &__main
        color $color_white
    &__plus
        font-size: 1.4em

.item-menu
    &__href
        color $color_black

.contacts
    background: $color_brown
    color: $color_white
    &__content
        font-size: 35px
        font-weight: bold

.slide
    color: $color_white
    &__title
        format__text(47px, 0.5px)
        font-weight: 100

.registration
    //color: $color_white
    font-weight: 100
    &__date
        format__text(47px, 0.5px)
        font-weight: 100
    &__tax
        font-style: italic
        format__text(14px, -0.3px)
    &__more
        font-size: 13px
        color: $color_white
.speakers
    &__title
        format__text(27px, -1.6px)
        font-weight: 700;
    &__name
        format__text(23px, 0.4px)
    &__position
        position relative
        color: $color_green
        margin-top: 13px
        &:before
            content: ''
            width 38px
            height 3px
            position absolute
            top -9px
            background: $color_green

.become-speakers
    text-align: center
    &__title
        format__text(35px, 0.1px)
        font-weight: bold