aside
    float()
.title
    position relative
    &__main
        background $color_green
        height 355px
        padding: 0 36px
        line-height: 80px
    &__plus
        position relative
        top 7px
    &__triangle
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
.menu
    flex()
    flex-direction: column
    &__item
        font-size: 24px
        font-weight: 300
        margin: 71.5px 0
        text-align: center
        letter-spacing: -0.5px;
        &:last-child
            margin-bottom: 93px

.contacts
    padding: 22.5px 0
    text-align: center
