aside
    size(3)
.title
    position relative
    &__main
        background $color_green
        height 355px
    &__plus
        position relative
        top 7px
    &__triangle
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;