.button
    display inline-block
    font-size 26px
    padding 0.4em 1.2em
    border-radius 1em
    background $color_blue
    letter-spacing -0.5px
    color: $color_white
    text-align: center
    mlg(font-size, 1.2rem)
    &--registration
        text-transform uppercase
    &--apply
        font-size: 17px
        letter-spacing: 0px
        padding: 0.5em 2.33em
    &--open-menu
        height: 20px;
        border-radius: 0px 0px 30px 30px;
        left: 0;
        right: 0;
        margin-bottom: -30px;
        z-index: 1;
        padding: 5px;
        display none
        sm(display, inline-block)
    &__icon
        height 20px
        position: relative;
        cursor pointer