.slide
    display: flex
    flex-direction: column
    justify-content: space-between
    background: linear-gradient(to right, rgba(119, 119, 119, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('../img/bg.jpg')
    color: $color_white
    padding: 35px 22px 43px
    &__title
        text-align: right

.registration
    position relative
    text-align: center
    &__button
        margin-top 20px
    &__tax
        margin-top: 16px;
    &__more
        display: inline-block;
        margin-top: 11px;
        border-bottom: 1px dotted $color_white