@supports (display: grid)
    grid($columns)
        display: grid
        grid-template-columns: $columns
    main
        display: grid !important
        grid-template-rows: auto max-content
    .wrapper
        grid(25% 75%)
        grid-template-rows: 100%
    .speakers
        grid(repeat(7, 1fr))
        grid-gap: 17px 28px
        &__title
            grid-column: 1/-1
        &__become
            align-self: end