html {
  font: 16px 'Roboto';
}
h1 {
  font-size: 66px;
  text-transform: uppercase;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.title__main {
  color: $color_white;
}
.title__plus {
  font-size: 1.4em;
}
.item-menu__href {
  color: $color_black;
}
.contacts {
  background: $color_brown;
  color: $color_white;
}
.contacts__content {
  font-size: 35px;
  font-weight: bold;
}
.slide {
  color: $color_white;
}
.slide__title {
  font-size: 47px;
  font-weight: 100;
  letter-spacing: 0.5px;
}
.registration {
  font-weight: 100;
}
.registration__date {
  font-size: 47px;
  font-weight: 100;
  letter-spacing: 0.5px;
}
.registration__tax {
  font-style: italic;
  font-size: 14px;
  letter-spacing: -0.3px;
}
.registration__more {
  font-size: 13px;
  color: $color_white;
}
