.aside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}
.aside__block {
  background: $color_white;
}
.aside--show {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.title {
  position: relative;
}
.title__main {
  background: $color_green;
  height: 355px;
  padding: 0 80px 0 36px;
  line-height: 80px;
}
.title__plus {
  position: relative;
  top: 7px;
}
.title__triangle {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 100px;
}
.menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__item {
  margin: 71.5px 0;
  text-align: center;
}
.menu__item:last-child {
  margin-bottom: 93px;
}
.contacts {
  padding: 22.5px 0;
  text-align: center;
}
