.button {
  display: inline-block;
  font-size: 26px;
  padding: 0.4em 1.2em;
  -webkit-border-radius: 1em;
          border-radius: 1em;
  background: $color_blue;
  letter-spacing: -0.5px;
  color: $color_white;
}
.button--registration {
  text-transform: uppercase;
}
