.button {
  display: inline-block;
  font-size: 26px;
  padding: 0.4em 1.2em;
  -webkit-border-radius: 1em;
          border-radius: 1em;
  background: $color_blue;
  letter-spacing: -0.5px;
  color: $color_white;
  text-align: center;
}
.button--registration {
  text-transform: uppercase;
}
.button--apply {
  font-size: 17px;
  letter-spacing: 0px;
  padding: 0.5em 2.33em;
}
.button--open-menu {
  height: 20px;
  -webkit-border-radius: 0px 0px 30px 30px;
          border-radius: 0px 0px 30px 30px;
  left: 0;
  right: 0;
  margin-bottom: -30px;
  z-index: 1;
  padding: 5px;
  display: none;
  width: 100%;
}
.button__icon {
  height: 20px;
  position: relative;
  cursor: pointer;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
.button__icon--open {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
