.slide {
  background: -webkit-gradient(linear, left top, right top, from(rgba(119,119,119,0.6)), to(rgba(0,0,0,0.6))), url("../img/bg.jpg");
  background: -webkit-linear-gradient(left, rgba(119,119,119,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/bg.jpg");
  background: -o-linear-gradient(left, rgba(119,119,119,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/bg.jpg");
  background: linear-gradient(to right, rgba(119,119,119,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/bg.jpg");
  color: $color_white;
  padding: 35px 22px 43px;
}
.slide__title {
  text-align: right;
  height: 70vh;
}
.registration {
  position: relative;
  text-align: center;
}
.registration__button {
  margin-top: 20px;
}
.registration__tax {
  margin-top: 16px;
}
.registration__more {
  display: inline-block;
  margin-top: 11px;
  border-bottom: 1px dotted $color_white;
}
